<footer class="footer">
    <div class="footer__container l-cards">
        <div class="footer__header">
            <h2 class="footer__heading">sign me up</h2>
            <p class="footer__body">be the first to know about new products</p>
        </div>
        <div class="footer__input">
            <input type="text" class="footer__input-box" placeholder="Enter your email">
            <button class="footer__input-btn"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
</footer>