<section class="container l-container--primary">
    <header class="header">
        <h2>gallery</h2>
    </header>
    <section class="gallery content l-grid l-grid--gallery">
        <div class="gallery-card">
            <a href="#" class="gallery__link" title="Order Now">
                <img src="../images/gallery-img-1.jpg" alt="" class="gallery__img">
                <h3 class="gallery__food-name">Pancakes</h3>
                <p class="gallery__food-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Repudiandae, ducimus maxime doloremque porro dolorum incidunt!
                </p>
            </a>
        </div>
        <div class="gallery-card">
            <a href="#" class="gallery__link" title="Order Now">
                <img src="../images/gallery-img-2.jpg" alt="" class="gallery__img">
                <h3 class="gallery__food-name">Pancakes</h3>
                <p class="gallery__food-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Repudiandae, ducimus maxime doloremque porro dolorum incidunt!
                </p>
            </a>
        </div>
        <div class="gallery-card">
            <a href="#" class="gallery__link" title="Order Now">
                <img src="../images/gallery-img-3.jpg" alt="" class="gallery__img">
                <h3 class="gallery__food-name">Pancakes</h3>
                <p class="gallery__food-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Repudiandae, ducimus maxime doloremque porro dolorum incidunt!
                </p>
            </a>
        </div>
        <div class="gallery-card">
            <a href="#" class="gallery__link" title="Order Now">
                <img src="../images/gallery-img-4.jpg" alt="" class="gallery__img">
                <h3 class="gallery__food-name">Pancakes</h3>
                <p class="gallery__food-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Repudiandae, ducimus maxime doloremque porro dolorum incidunt!
                </p>
            </a>
        </div>
        <div class="gallery-card">
            <a href="#" class="gallery__link" title="Order Now">
                <img src="../images/gallery-img-5.jpg" alt="" class="gallery__img">
                <h3 class="gallery__food-name">Pancakes</h3>
                <p class="gallery__food-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Repudiandae, ducimus maxime doloremque porro dolorum incidunt!
                </p>
            </a>
        </div>
        <div class="gallery-card">
            <a href="#" class="gallery__link" title="Order Now">
                <img src="../images/gallery-img-6.jpg" alt="" class="gallery__img">
                <h3 class="gallery__food-name">Pancakes</h3>
                <p class="gallery__food-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Repudiandae, ducimus maxime doloremque porro dolorum incidunt!
                </p>
            </a>
        </div>
    </section>
</section>