<section class="hero container l-container--primary">
    <header class="header">
        <h2>variety of foods</h2>
    </header>
    <div class="hero--icon-container hero__icon">
        <!-- <i class="fas fa-apple-alt hero__icon"></i>
        <i class="fas fa-ice-cream hero__icon"></i>
        <i class="fas fa-fish hero__icon"></i>
        <i class="fas fa-cookie hero__icon"></i>
        <i class="fas fa-seedling hero__icon"></i>
        <i class="fas fa-egg hero__icon"></i>
        <i class="fas fa-stroopwafel hero__icon"></i> -->

    </div>
</section>