<section class="nav-bar">
    <div class="nav--container">
        <div class="nav--item">
            <i class="fas fa-home icon__nav"></i>
            <p class="nav__header">home</p>
        </div>
        <div class="nav--item">
            <i class="fas fa-utensils icon__nav"></i>
            <p class="nav__header">meals</p>
        </div>
        <div class="nav--item">
            <i class="fas fa-hamburger icon__nav"></i>
            <p class="nav__header">burger</p>
        </div>
        <div class="nav--item">
            <i class="fas fa-pizza-slice icon__nav"></i>
            <p class="nav__header">pizza</p>
        </div>
        <div class="nav--item">
            <i class="fas fa-blender-phone icon__nav"></i>
            <p class="nav__header">contact</p>
        </div>
    </div>
</section>
<div class="nav--btn"><span><i class="fas fa-bookmark"></i></span></div>