.l-flex--column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-grid{
    display: grid;
}

.l-grid--gallery{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5rem;
}