
/* Card */
.card{   
    width: 15rem;
    height: 25rem; 
    box-shadow: -8px -8px 3.5px 4px rgb(151, 145, 22), 15px 10px 10px 4px #000;
    padding: 5rem 2.5rem;
    background-color: rgb(171, 165, 48);
    transition: 0.5s;
} 

.card:hover{
    transform: translateY(-3rem);
}

.card h2{
    text-transform: uppercase;
    font-weight: 700;
}

.btn{
    padding: 0.8rem 4.5rem;
    border: none;
    border-radius: 25px;
    
}

.btn__card{
    background-color: #000;
    color: #fff;
    font-size: 1.7rem;
    letter-spacing: 0.6px;
    text-transform: capitalize;
}

/* gallery */
.gallery{

}

/* gallery-card */
.gallery-card{
    width: 100%;
    height: 100%;
    margin: 3rem;  
    position: relative; 
}

.gallery__link{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.gallery__link::before{
    content: ''; 
    position: absolute;
    top: 10rem;
    left: 1rem;
    width: 90%;
    height: 2px;  
    /* z-index: 1; */
    background-color: white;
}

.gallery__link::after{
    content: ''; 
    position: absolute;
    /* opacity: 1; */
    opacity: 0;
    top: 3.5rem;
    right: 10rem;
    width: 0.25rem;
    height: 80%;  
    background-color: white; 
}

.gallery__link:hover::before {
    z-index: 1;
}

.gallery__link:hover::after{
    opacity: 1;
}

.gallery__link:hover .gallery__food-name{
    visibility: visible;
}

.gallery__link:hover .gallery__food-description{
    visibility: visible;
}

.gallery__img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-right: 2px solid rgba(200, 50, 30, 0.7);
    border-bottom: 2px solid rgba(200, 50, 30, 0.7);
    box-shadow: 5px 5px 4px #ccc, 8px 8px 5px rgba(200, 50, 30, 0.7);
}

.gallery__food-name{
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;
    color: #fff;
    visibility: hidden;
}

.gallery__food-description{
    position: absolute;
    bottom: 10rem;
    left: 2rem;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    width: 80%;
    color: #fff;
    visibility: hidden;
}

/* header */
.header{
    margin: 2rem 0;
}

.header h2{
    color: #fff;
    font-size: 5rem;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

/* container */
.container{
    width: 100vw;
    height: 100vh;
    background-color: #333;   
}

/* content */
.content{
    max-width: 1024px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* cards */
.cards{
    margin-top: 10rem;
}